.App {
  text-align: center;
}

.hassan {
color: brown;
font-size: 24pt;
font-family: cursive;
}
.bnb{
  display: flex;
}
.center{
  margin: 0px auto;
}
.abc{
  margin-top: 10px;
}
.maxmargin{
  margin-top: -22px;
  padding: 20px;
 
}
.cont{
position: sticky;
top: 0px;
  z-index: 1;
 

}
#aabn{
  background-color: #083850;
}
#abbb{
    position: relative;
    z-index: -1;


}
